<h1>Welcome to the Change Machine!</h1>
<form action='/result' method='get'>
  <div class="form-group">
    <label for="amount">Enter a dollar amount:</label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Calculate</button>
</form>
